{% extends "base.html" %}

{% set title = "Editar Filial" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Editar Filial</h1>
    <div class="container-home">

        <!-- Seção para exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" name="nome" value="{{ filial.nome }}" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onclick="goBack()">Atualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}