<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descrição do seu site">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='img/') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Recebimento</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown {% if request.path.startswith('/tabela-all') or request.path.startswith('/tabela-last') %}active{% endif %}">
                        <a class="nav-link" href="/tabela-last-registros" role="button" data-toggle="" aria-haspopup="true">Registros</a>
                    </li>
                    <li class="nav-item dropdown {% if request.path.startswith('/tabela-res') or request.path.startswith('/tabela-fil') or request.path.startswith('/tabela-cen') %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tabelas</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/tabela-responsaveis">Responsáveis</a>
                            <a class="dropdown-item" href="/tabela-filiais">Filiais</a>
                            <a class="dropdown-item" href="/tabela-centros">Centros</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown {% if request.path.startswith('/cadastro') %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cadastro/responsavel">Responsáveis</a>
                            <a class="dropdown-item" href="/cadastro/filiais">Filiais</a>
                            <a class="dropdown-item" href="/cadastro/centros">Centros</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if request.path.startswith('/alteracao_senha') or request.path.startswith('/logout') %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meu perfil</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/alteracao_senha">Alterar senha</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>                    
                </ul>
                
            </div>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="bg-dark text-white p-2 mt-2">
        <p class="text-center" style="margin-bottom: 5px;">© 2024. Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
