{% extends "base.html" %}

{% set title = "Registros - centros" %}

{% block content %}
    <div class="container mt-5">
        <!-- Seção para exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">CENTROS</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Filial</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for centro in centros %}
                            <tr>
                                <td>{{ centro.nome }}</td>
                                <td>{{ centro.filial.nome }}</td>
                                <td>
                                    <form method="POST" action="/editar_centro/{{ centro.id }}">
                                        <input type="submit" value="Editar" class="btn btn-warning">
                                    </form>
                                </td>
                                <td>
                                    <form method="POST" action="/excluir_centro/{{ centro.id }}">
                                        <input type="submit" value="Excluir" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if centros.has_prev %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('table_centros', page=centros.prev_num) }}">Anterior</a></li>
                        {% endif %}
                        <li class="page-item disabled"><a class="page-link" href="#">Página {{ centros.page }} de {{ centros.pages }}</a></li>
                        {% if centros.has_next %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('table_centros', page=centros.next_num) }}">Próxima</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
