<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <title>Registros</title>
</head>
<body>
    <H1>Filiais</H1>
    <div class="table-container" id="filiais">
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Excluir</th>
            </tr>
            {% for filial in filiais %}
            <tr>
                <td>{{ filial.id }}</td>
                <td>{{ filial.nome }}</td>
                <td>
                    <form method="POST" action="/excluir_filial/{{ filial.id }}">
                        <input type="submit" value="Excluir">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <a href="/"><button>Voltar ao menu</button></a>
</body>
</html>