{% extends "base.html" %}

{% set title = "Registros atuais" %}

{% block content %}
    <div class="container-registros">
        <h1 class="text-center">REGISTROS ATUAIS</h1>
        <div class="table-responsive">
            <table class="table table-striped"">
                <thead>
                    <tr>
                        <th>Chave de acesso</th>
                        <th>Data recebimento</th>
                        <th>Status</th>
                        <th>Data guarda</th>
                        <th>Prioridade</th>
                        <th>Responsável</th>
                        <th>Data atualização</th>
                        <th>Histórico</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros.items %}
                    <tr>
                        <td><a href="/chave_acesso/{{registro.nota_fiscal.id}}">{{ registro.nota_fiscal.chave_acesso }}</a></td>
                        <td>{{ registro.data_recebimento.strftime("%d/%m/%Y %H:%M") }}h</td>
                        <td>{{ registro.status }}</td>
                        <td>{{ registro.data_guarda.strftime("%d/%m/%Y") if registro.data_guarda is not none else "" }}</td>
                        <td>{{ "Sim" if registro.prioridade else "Não" }}</td>
                        <td>{{ registro.responsavel.nome }}</td>
                        <td>{{ registro.data_atualizacao.strftime("%d/%m/%Y %H:%M") }}h</td>
                        <td class="d-flex justify-content-center">
                            <form method="POST" action="/tabela-registros">
                                <input type="hidden" name="nota_fiscal_id" value="{{ registro.nota_fiscal.id }}">
                                <button type="submit" class="btn btn-primary" style="background: none; border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.19 512.19" style="enable-background:new 0 0 512.19 512.19;" xml:space="preserve" width="30px" height="30px">
                                        <g>
                                            <circle cx="256.095" cy="256.095" r="85.333"/>
                                            <path d="M496.543,201.034C463.455,147.146,388.191,56.735,256.095,56.735S48.735,147.146,15.647,201.034   c-20.862,33.743-20.862,76.379,0,110.123c33.088,53.888,108.352,144.299,240.448,144.299s207.36-90.411,240.448-144.299   C517.405,277.413,517.405,234.777,496.543,201.034z M256.095,384.095c-70.692,0-128-57.308-128-128s57.308-128,128-128   s128,57.308,128,128C384.024,326.758,326.758,384.024,256.095,384.095z"/>
                                        </g>
                                    </svg>
                                </button>
                            </form>
                        </td>                                                                  
                    </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if registros.has_prev %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('table_registros_last', page=registros.prev_num) }}">Anterior</a></li>
                {% endif %}
                <li class="page-item disabled"><a class="page-link" href="#">Página {{ registros.page }} de {{ registros.pages }}</a></li>
                {% if registros.has_next %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('table_registros_last', page=registros.next_num) }}">Próxima</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
