<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Responsável</title>
</head>
<body>
    <div class="container">
        <h2>Cadastrar Responsável</h2>

        <!-- Seção para exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        alert("{{ category }}: {{ message }}");
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nome.label }} {{ form.nome(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.usuario.label }} {{ form.usuario(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.senha.label }} {{ form.senha(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_senha.label }} {{ form.confirm_senha(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="permissao">Administrador:</label>
                <input type="checkbox" id="permissao" name="permissao" {% if form.permissao.data %}checked{% endif %} value="true">
            </div>
            <div class="form-group">
                <label for="ativo">Ativo:</label>
                <input type="checkbox" id="ativo" name="ativo" {% if form.ativo.data %}checked{% endif %} value="true">
            </div>
            <div class="form-group">
                <label>Filiais:</label><br>
                {% for filial in form.filiais.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filiais" id="filial_{{ filial[0] }}" value="{{ filial[0] }}">
                        <label class="form-check-label" for="filial_{{ filial[0] }}">
                            {{ filial[1] }}
                        </label>
                    </div>
                {% endfor %}
            </div>                                 
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <br>
        <a href="/"><button>Voltar ao menu</button></a>
    </div>
</body>
</html>
