{% extends "base.html" %}

{% set title = "Estorno" %}
{% set header = "Estorno - NF " + nf %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <!-- Seção para exibir mensagens flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="responsavel">Responsável:</label>
                        {{ form.responsavel(class="form-control", required=True) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </form>
                <br>
                <a href="/" class="btn btn-secondary btn-block">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}
