{% extends "base.html" %}

{% set title = "Mudar status" %}

{% block content %}
    <div class="container">
        <h1 class="form-group text-center mt-4">Mudar status - NF {{ nf }}</h1>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <!-- Seção para exibir mensagens flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="responsavel">Responsável:</label>
                        {{ form.responsavel(class="form-control", required=True) }}
                    </div>
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select name="status" class="form-control" required>
                            <option value="Pendência almoxarifado">Pendência almoxarifado</option>
                            <option value="Aguardando ajuste">Aguardando ajuste</option>
                            <option value="Aguardando fiscal">Aguardando fiscal</option>
                            <option value="Aguardando lançamento de CTE">Aguardando lançamento de CTE</option>
                            <option value="NF cancelada">NF cancelada</option>
                            <option value="NF finalizada">NF finalizada</option>
                        </select>
                    </div>
                    <div class="form-group mt-4 d-flex">
                        <button type="submit" class="btn btn-primary flex-grow-1 py-2" style="text-transform: uppercase;">Registrar</button>
                    </div>
                </form>
                <a href="/" class="btn btn-secondary btn-block mt-3"">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}
