{% extends "base.html" %}

{% set title = "Recebimento" %}
{% set header = "Recebimento - NF " + nf %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                <!-- Seção para exibir mensagens flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="codigo_cte">Código CTE:</label>
                        {{ form.codigo_cte(class="form-control", required=False) }}
                    </div>
                    <div class="form-group">
                        <label for="volumes">Volumes:</label>
                        {{ form.volumes(class="form-control", required=True) }}
                    </div>
                    <div class="form-group">
                        <label for="responsavel">Responsável:</label>
                        {{ form.responsavel(class="form-control", required=True) }}
                    </div>
                    <div class="form-group">
                        <label for="centro">Centro:</label>
                        {{ form.centro(class="form-control", required=True) }}
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="prioridade">
                        <label class="custom-control-label" for="prioridade">Prioridade</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="avarias">
                        <label class="custom-control-label" for="avarias">Avarias</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="recusa">
                        <label class="custom-control-label" for="recusa">Recusa</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </form>
                <br>
                <a href="/" class="btn btn-secondary btn-block">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}