<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Chave de Acesso e Filial</title>
</head>
<body>
    <div class="container">
        <h2>Inserir Chave de Acesso e Filial</h2>
        
        <!-- Seção para exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        alert("{{ category }}: {{ message }}");
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            {{ form.csrf_token }}
            <label for="chave_acesso">Chave de acesso:</label><br>
            {{ form.chave_acesso() }}<br>
            <label for="filial_id">Filial:</label><br>
            <select name="filial">
                {% for responsavel, filiais in filiais_por_responsavel.items() %}
                    {% for filial in filiais %}
                        <option value="{{ filial.id }}">{{ filial.nome }}</option>
                    {% endfor %}
                {% endfor %}
            </select><br>
            <div>
                <button type="submit" name="action" value="recebimento" class="btn btn-primary">Recebimento</button>
                <button type="submit" name="action" value="mudar status" class="btn btn-primary">Mudar status</button>
                <button type="submit" name="action" value="estorno" class="btn btn-primary">Estorno</button>
            </div>
        </form>
        <hr>
        <a href="/"><button>Voltar para o menu</button></a>
    </div>
</body>
</html>
