{% extends "base.html" %}

{% set title = "Registrar NFe" %}

{% block content %}
<div class="container-home">
    <h1 class="text-center">Registrar NFe</h1>
    <!-- Seção para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="chave_acesso">Chave de acesso:</label>
            {{ form.chave_acesso(class="form-control", placeholder="Insira a chave de acesso") }}
        </div>
        <div class="form-group">
            <label for="filial_id">Filial:</label>
            <select name="filial" class="form-control" required>
                <option selected disabled value="">Selecione a filial</option>
                {% for responsavel, filiais in filiais_por_responsavel.items() %}
                {% for filial in filiais %}
                <option value="{{ filial.id }}">{{ filial.nome }}</option>
                {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="options-logic mt-5 d-flex">
            <button type="submit" name="action" value="recebimento"
                class="btn btn-primary flex-grow-1 mr-2 py-3">RECEBIMENTO</button>
            <button type="submit" name="action" value="mudar status" class="btn btn-primary flex-grow-1 mx-2 py-3">MUDAR
                STATUS</button>
            <button type="submit" name="action" value="estorno"
                class="btn btn-primary flex-grow-1 ml-2 py-3">ESTORNO</button>
        </div>
    </form>
</div>
{% endblock %}