{% extends "base.html" %}

{% set title = "Recebimento" %}
{% set header = "Inserir Chave de Acesso e Filial" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <!-- Seção para exibir mensagens flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="chave_acesso">Chave de acesso:</label>
                        {{ form.chave_acesso(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="filial_id">Filial:</label>
                        <select name="filial" class="form-control">
                            {% for responsavel, filiais in filiais_por_responsavel.items() %}
                                {% for filial in filiais %}
                                    <option value="{{ filial.id }}">{{ filial.nome }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="action" value="recebimento" class="btn btn-primary btn-block">Recebimento</button>
                        <button type="submit" name="action" value="mudar status" class="btn btn-primary btn-block">Mudar status</button>
                        <button type="submit" name="action" value="estorno" class="btn btn-primary btn-block">Estorno</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
